<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mosidian.modules.mall.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="io.mosidian.modules.mall.entity.Product">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
        <result column="main_image" jdbcType="VARCHAR" property="mainImage" />
        <result column="sub_images" jdbcType="VARCHAR" property="subImages" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, category_id, name, subtitle, main_image, sub_images, detail, price, stock, status, create_time, update_time
    </sql>

    <select id="selectByCategoryIdSet" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from mall_product
        where status = 1
        <if test="categoryIdSet.size() > 0">
            AND category_id in
            <foreach collection="categoryIdSet" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectByProductMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from mall_product
        <where>
            <if test="productMap.size() > 0">
                id in
                <foreach collection="productMap.keys" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>



    <select id="selectByCategoryId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from mall_product
        where category_id = #{categoryId, jdbcType=INTEGER}
    </select>

</mapper>
